## Simple if

In [3]:
a=int(input("enter age :"))
if a>=18:
    print("can vote")
else:
    print("Not elgible for vote")

enter age :24
can vote

## If-else statement

#### 1. Even and odd no. checker

In [5]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(num,"is an even number.")
else:
    print(num," is an odd number.")

Enter a number: 7
7  is an odd number.

#### 2.check Age for voting

In [6]:
a=int(input("Enter age: "))
if a>=18:
    print("you can vote")
else:
    print("You are not eligible")

Enter age: 19
you can vote

#### 3. larger of two numbers

In [7]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

if num1 > num2:
    print("The larger number is:", num1)
else:
    print("The larger number is:", num2)

Enter the first number: 18
Enter the second number: 25
The larger number is: 25.0

#### 4. smaller of two numbers

In [8]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

if num1 < num2:
    print("The smaller number is:", num1)
else:
    print("The smaller number is:", num2)

Enter the first number: 2
Enter the second number: 5
The smaller number is: 2.0

#### 5.write program to find minimum of three numberes

#### 6. Pass or Fail

In [9]:
score = float(input("Enter the student's score: "))

if score >= 50:
    print("Pass")
else:
    print("Fail")

Enter the student's score: 40
Fail

#### 7.Leap year checker

A leap year is a year that contains an extra day, February 29

The rules for determining whether a year is a leap year are as follows:

-If a year is evenly divisible by 4, it is a leap year, except for:
-Years that are evenly divisible by 100 are not leap years, unless:
-Years that are evenly divisible by 400 are leap years.

In [10]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter a year: 2024
Leap Year

## Nested If

In [1]:
age = int(input("Enter your age: "))
has_id = input("Do you have a valid ID? (yes/no): ").lower()

if age >= 18:
    if has_id == "yes":
        print("You are eligible to vote.")
    else:
        print("Please bring a valid ID to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 12
Do you have a valid ID? (yes/no): no
You are not eligible to vote.

In [2]:
age=int(input("Enter Your age:"))
ticket_type=input("Enter ticket type(adult/child):").upper()
if ticket_type == "Adult":
    if age >=18:
        price=10
    else:
        price=5
else:  
    if age <=12:
        price=2
    else:
        price=5
print("Ticket price:",price)

Enter Your age:23
Enter ticket type(adult/child):adult
Ticket price: 5

In [3]:
age=int(input("Enter Your age:"))
ticket_type=input("Enter ticket type(male/female):").Upper()
if ticket_type == "Male":
    if age >=10:
        price=30
    else:
        price=15
else:
    if age <20:
        price=40
    else:
        price=35
print("Ticket price:",price)

Enter Your age:20
Enter ticket type(male/female):female

AttributeError: 'str' object has no attribute 'Upper'

# For Loop

In [12]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(0,11):  #0,1,2,3,4,5,6,7,8,9,10
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11

In [14]:
for i in range(0,11):
    print("IPCS")

IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS

In [15]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

#### Printing numbers from 50 to 10[50,45,40....]

In [16]:
for i in range(50,1,-5):
    print(i)

50
45
40
35
30
25
20
15
10
5

In [17]:
l=[1,3,5,7]
for i in l:
    print(i**2)

1
9
25
49

#### 1.sum of numbers

In [ ]:
#1,2,3,4,5

In [18]:
sum1=0
n = int(input("Enter a number:"))
for i in range (1,n+1):
    sum1 += i #sum1=sum1+i
print("sum:", sum1)

Enter a number:11
sum: 66

In [19]:
total = 0
n = int(input("Enter a number: "))
for i in range(1, n+ 1 ):
    total += i
print("Sum:", total)

Enter a number: 5
Sum: 15

### 2.Factorial

In [ ]:
#4!=4*3*2*1

In [20]:
factorial = 1
n = int(input("Enter a number:"))
for i in range(1,n+1):
    factorial=factorial*i
print("factorial:",factorial)

Enter a number:10
factorial: 3628800

In [21]:
result = 1
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    result =result*i
print("Factorial:", result)

Enter a number: 5
Factorial: 120

### 3.Table of a number:

In [22]:
n=int(input("Enter a Number:"))
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")
    #print(n,"x",i, "=",n*i)

Enter a Number:4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

#### 4.counting characteras in a string:

In [23]:
text = str(input("Enter a string:"))  #sayliiii
target_char = input("Enter a charater to count:")
count = 0 

for c in text:                                                                                                                                                               
    if c ==  target_char:
        count += 1 #count=count+1
print(f"occurrences of '{target_char}': {count}")

Enter a string:Hellllo
Enter a charater to count:l
occurrences of 'l': 4

In [24]:
text = str(input("Enter a string: "))
target_char = input("Enter a character to count: ")
count = 0

for c in text:
    if c == target_char:
        count += 1
print(f"Occurrences of '{target_char}': {count}")

Enter a string: hellloo
Enter a character to count: a
Occurrences of 'a': 0

#### 5.calculating the average grade for a list of stuident grades.

In [ ]:
help()

Welcome to Python 3.11's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.11/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

In [1]:
grades = [85,90,78,92,88] #average
total =0
for i in grades:
    total += i
average = total / len(grades)
print("Average Grade:" , average)

Average Grade: 86.6

#### 6.Prime Number

In [2]:
num=15  #1,2,3,4,5,6,7,8,9,10
for i in range(2,num):
    if num%i==0:
        print("not prime no")
        break
    
else:
    print("prime")

not prime no

### Printing Patterns

In [ ]:
#We require 5 things -Input: How Many Rows -for loop: 1 for rows and 1 for colums- -range(start, stop) -print() #new line -end=" "

#### use of end=" "

In [3]:
print("hello")
print("hi")

hello
hi

In [4]:
print("hello",end=" ")
print("hi")

hello hi

In [5]:
print("#",end=" ")
print("#",end=" ")
print("#",end=" ")
print("#",end=" ")

# # # #

In [6]:
for i in range(0,4):
    print("#",end=" ")

# # # #

In [7]:
size = 5
for i in range(size):
    print("*" * size)

*****
*****
*****
*****
*****

In [8]:
for i in range(4):
    print("#",end=" ")
print("\n") #new line    
for i in range(4):
    print("#",end=" ")
print("\n") #new line    
for i in range(4):
    print("#",end=" ")
print("\n")
for i in range(4):
    print("#",end=" ")  
print("\n")

# # # #

# # # #

# # # #

# # # #

In [9]:
for i in range(4): #for loop for rows
    for j in range(4): #nested for loop gor colum
        print("#",end=" ")
    print() #new Line

# # # #
# # # #
# # # #
# # # #

In [10]:
for row in range(1,6):
    for colum in range(row):
        print("#", end=" ")
    print()

#
# #
# # #
# # # #
# # # # #

In [11]:
num_line = int(input("Enter the number of rows:"))
for row in range(1,num_line):
    for col in range(row):
        print("*",end=" ")
    print() #new line

Enter the number of rows:7
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [12]:
num_row = int(input("Enter the number of rows:"))
for row in range(num_row+1):
    for col in range(num_row-row):
        print("*",end=" ")
    print() #new line

Enter the number of rows:8
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
row = int(input("Enter the number of rows:"))
for i in range (row+1):
    for j in range(row-i):
        print("+",end="")
    print() #This is for new line

Enter the number of rows:5
+++++
++++
+++
++
+

In [14]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [15]:
for i in range(4):
    for j in range(i+1):
        print(i,end="")
    print()

0
11
222
3333

In [16]:
for i in range(6):
    for j in range(i+2):
        print(i,end="")
    print()

00
111
2222
33333
444444
5555555

#### For loop with if

### 1.Even

In [17]:
for i in range(0,11):
    if i%2==0:
        print(i)

0
2
4
6
8
10

### 2.odd

In [18]:
for i in range(0,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

#### Even and odd number using if else

In [19]:
for num in range(1,11):
    if num % 2==0:
        print(num,"is even")
    else:
        print(num,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

#### 3.check vowels

In [20]:
text="hello word"
vowels="aeiouAEIOU"
for char in text:
    if char in vowels:
        print(char)

e
o
o

In [21]:
text="My Name Is gauri"
vowels="AEIOUaeiou"
for char in text:
    if char in vowels:
        print(char)

a
e
I
a
u
i

### 4.Filtering Positive numbers

In [22]:
number=[2,4,-5,1,-2,6,-7,8]
print("posittive Number are:")
for num in number:
        if num >0:
            print(num)

posittive Number are:
2
4
1
6
8

#### 4.Filtering Negative numbers

In [23]:
number=[-0,-2,-3,-5,6,8,-10,3]
print("Negative Numbers are:")
for num in number:
        if num <0:
            print(num)

Negative Numbers are:
-2
-3
-5
-10

#### 5.Identifying Palindromes:

In [24]:
words = ["level", "hello", "radar", "python"]
for word in words:
    if word == word[::-1]:
        print(word, "is a palindrome")

level is a palindrome
radar is a palindrome

### Iterating over list

In [26]:
fruits=["apple","banana","mango","graps"]
for fruit in fruits:
    print(fruit)

apple
banana
mango
graps

#### Claculating Total Expenses

In [27]:
expenses = [6.0,33.0,56.0,12.3,44.0]
total=0
for expense in expenses:
    total += expense
print("Total expenses:", total)

Total expenses: 151.3

#### Finding Maximum and Minimum Values:

In [28]:
numbers = [25, 18, 32, 47, 12, 9,100]
max_value = numbers[0]
min_value = numbers[0]
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 100
Minimum value: 9

#### Searching for an Item

In [29]:
items = ["apple", "banana", "orange", "grape"]
target_item = str(input("Enter the item you want to find: "))
found = False
for item in items:
    if item == target_item:
        found = True
        break
if found:
    print(target_item, "is in the list.")
else:
    print(target_item, "is not in the list.")

Enter the item you want to find: mango
mango is not in the list.

#### Printing Elements with Specific Property:

In [30]:
words = ["apple", "banana", "orange", "grape", "watermelon", "kiwi"]
for word in words:
    if len(word) > 5:
        print("Long word:", word)

Long word: banana
Long word: orange
Long word: watermelon

In [31]:
s="Hello python"
for char in s:
    if char=="H":
        print(char)

H

In [32]:
a=[]
b=[[0,1,2,3],[4,5,6,7],[8,9,10,11]]
for i in range(4):
    a.append([row[i] for row in b])
print(a)

[[0, 4, 8], [1, 5, 9], [2, 6, 10], [3, 7, 11]]

# While Loop

In [ ]:
Python While Loop is used to execute a block of statements repeatedly until a given condition is 
satisfied. When the condition becomes false, the line immediately after the loop in the program is
executed.

### Print numbers from 1 to 10 using while loop

In [3]:
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [7]:
count = 0
while (count < 4): 
    count = count + 1
    print("Hello Gauri")

Hello Gauri
Hello Gauri
Hello Gauri
Hello Gauri

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Print sum of all bils enterd by the user

In [3]:
print("Enter the bill")
bill = int(input())
sum = bill
while bill!=0:
    print("Enter next bill")
    bill =int(input())
    sum = sum+bill
print("sum is",sum)

Enter the bill
1
Enter next bill
2
Enter next bill
3
Enter next bill
5
Enter next bill
0
sum is 11

In [28]:
mcount=0
acount=0
vote="M"
while vote!="q":
   
    vote=str(input("Enter the vote"))
    if vote=="M":
        mcount=mcount+1
    elif vote=="A":
        
        acount=acount+1
print("Alex:",acount)
print("Manu:",mcount)

Enter the voteA
Enter the voteA
Enter the voteA
Enter the voteq
Alex: 3
Manu: 0

### Break and continue

In [35]:
ch="y"
while ch!="n":
    print("Enter the distance")
    dis = int(input())
    if dis<0:
        print("Invalid distance")
        break
    print("Enter time")
    t=int(input())
    s=dis/t
    print("speed is :",s)
       
    ch=input("Do you want to continue?")

Enter the distance
-23
Invalid distance

In [36]:
ch="y"
while ch!="n":
    print("Enter the distance")
    dis = int(input())
    if dis<0:
        print("Invalid distance")
        continue
    print("Enter time")
    t=int(input())
    s=dis/t
    print("speed is :",s)
       
    ch=input("Do you want to continue?")

Enter the distance
23
Enter time
2
speed is : 11.5
Do you want to continue?n

In [1]:
a=[]
b=[[0,1,2,3],[4,5,6,7],[8,9,10,11]]
for i in range(4):
    a.append([row[i] for row in b])
print(a)

[[0, 4, 8], [1, 5, 9], [2, 6, 10], [3, 7, 11]]