### abs()

In [1]:
a=123
abs(a)

123

In [2]:
b=-234
abs(b)

234

In [13]:
def absolute(n):
    a=str(n)
    if "-" in a:
        print(a[1:])
    else:
        print(n)

In [16]:
absolute(-45)

45

In [4]:
#power() function
a=pow(6,9)
print(a)

10077696

In [15]:
#round() function
a=round(56.7896)
print(a)

57

In [3]:
def custom_round(number):
    decimal_part=number - int(number)
    if decimal_part >0.5:
        return int(number) + 1
    else:
        return int(number)

In [4]:
custom_round(23.9)

24

In [6]:
#help() function
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [20]:
id(b)

1768173450192

In [25]:

ord("c")

99

In [2]:
def sum1():
    a=27
    b=67
    c=a+b
    print(c)

In [3]:
sum1()

94

In [9]:
def mult():
    a=45
    b=23
    c=a*b
    print(c)

In [10]:
mult()

1035

### Function without return and without parameter

In [17]:
def mult():
    x=45
    y=23
    c=x*y
    print(c)

In [18]:
mult()

1035

### Function without return and with parametr

In [24]:
def add(a,b):
    c=a+b
    print(c)

In [25]:
add(2,4)

6

### Function with return and without parameter

In [37]:
def mult():
    x=11
    y=56
    c=x*y
    return "multiplication is",c

In [38]:
mult()

('multiplication is', 616)

### Function with return and with parameter

In [40]:
def mult(x,y):
    c=x*y
    return f"multiplication is {c}"

In [41]:
mult(7,9)

'multiplication is 63'

In [49]:
def cube(n):
    c=n**3
    return c

In [51]:
cube(4)

64

In [61]:
def squre(n):
    c=n**2
    return c

In [63]:
squre(8)

64

In [18]:
def max_1():
    list1=[12,45,3,6,8,13,34,100]
    maximum = list1[0]
    for num in list1:
        if num > maximum:
            maximum = num
    print("MAximum value is: ",maximum)

In [19]:
max_1()

MAximum value is:  100

In [2]:
#max_value=numbers[0]
#min_value=numbers[0]
def max_2():
    numbers=[24,45,23,67,12,90,10]
    max_value=numbers[0]
    min_value=numbers[0]
    for num in numbers:
        if num> max_values:
            max_value=num
        if num< min_values:
            min_values=num
    print("Maximum value:", max_value)
    print("minimum value", min_value)

In [8]:
def custom_round(number):
    decimal_part=number - int(number)
    if decimal_part >0.5:
        return int(number) + 1
    else:
        return int(number)

### Local and gobal function

In [10]:
def m1():
    x=300 #local scope
    print(x)

In [11]:
m1()

300

In [12]:
x

NameError: name 'x' is not defined

In [19]:
c=200 #globaly decared
def m1():
    print(c) #global scop

In [20]:
m1()

200

In [31]:
def arithmatic():
    o=32
    p=67
    z=o+p
    print(z)
    def sub():
        a=o-p
        print(a)
    sub()
    def mult():
        a=o*p
        print(a)
    mult()

In [32]:
arithmatic()

99
-35
2144

In [5]:
def arithmatic():
    global o,p
    o=23
    p=45
    z=o+p
    print(z)
arithmatic()

68

In [24]:
#write a function that calculate the area and perimeter of a rectangle given 
#its length and width as parameters.
def area(l,b):
    return(l*b)
def perimeter(l,b):
    return(2*(l+b))
l=int(input("Enter the length:"))
b=int(input("Enter the breadth:"))
print("area=",area(l,b))
print("perimeter=",perimeter(l,b))

Enter the length:3
Enter the breadth:2
area= 6
perimeter= 10

In [2]:
#create a function that take an integer as input and return "Even" if it's 
#even and odd if it's odd
n=int(input("enter number even or odd:"))
def evenodd(n):
    if n and 1:
        return
    else:
        return
    if(evenodd(n)):
        print(n,"num is odd")
    else:
        print(n,"num is even")

enter number even or odd:23

In [25]:
y=789
def sqr(n):
    square=n**2
    global x
    x=678   #local
    return square

In [27]:
print(sqr(5))
print(x)
y

25
678

789